.button {
  display: block;
  font-family: $primary-font;
  color: $primary-light-color;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
  padding: 10px;
  border: none;
  cursor: pointer;
}
