.advantages {
  margin: 0 20px 49px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
  color: $primary-dark-color;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  margin-bottom: 20px;
  padding-left: 80px;
}

@media (min-width: $tablet) {
  .advantages {
    margin: 0 105px 47px 30px;
  }

  .advantages__title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 136px;
  }

  .advantages__item {
    margin: 0;
    padding: 151px 0 57px;
  }

  .advantages__item::after {

  }
}

@media (min-width: $desktop) {
  .advantages {
    margin: 0 110px 69px;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 77px;
  }
}
