.advantage-item {
  position: relative;
}

.advantage-item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.advantage-item--benefit::before {
  background-image: url("../../icons/stack.svg#advantage-back-1");
}

.advantage-item--cook::before {
  background-image: url("../../icons/stack.svg#advantage-back-2");
}

.advantage-item--meal::before {
  background-image: url("../../icons/stack.svg#advantage-back-3");
}

.advantage-item--time::before {
  background-image: url("../../icons/stack.svg#advantage-back-4");
}

.advantage-item__description {
  margin: 0;
  display: block;
  min-height: 60px;
}

@media (min-width: $tablet) {
  .advantage-item::before {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }
}

@media (min-width: $desktop) {

}
