.example {

}

.example__title {
  margin: 0;
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
  color: $primary-dark-color;
}

.example__description {
  margin: 0;
}

.example__points {

}

.example__slider {

}

@media (min-width: $tablet) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
