.header {
  width: 100%;
  height: 65px;
  background: url("../../icons/stack.svg#logo-cat-energy") no-repeat center;
  background-size: 100px 100%;
}

.header__logo {
  position: absolute;
  top: 13px;
  left: 20px;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.header-nav {

}

@media (min-width: $tablet) {
  .header {
    background: none;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 34px 0 30px;
    box-sizing: border-box;
    margin-bottom: 60px;
  }

  .header__logo {
    position: unset;
    margin: 0;
    margin-right: 30px;
  }
}

@media (min-width: $desktop) {
  .header {
    width: auto;
    padding: 0;
    margin: 0 110px 104px;
  }
}
