.hero {

}

.hero__container {
  background-color: rgba(104, 183, 56, 0.85);
}

.hero__title {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  color: $primary-light-color;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.hero__description {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  color: $primary-light-color;
  line-height: 14px;
  text-align: center;
}

.hero__button {
  margin: 0;
  padding: 0;
  display: block;
}

@media (min-width: $tablet) {
  .hero__title {
    font-size: 60px;
    line-height: 60px;
  }

  .hero__description {
    font-size: 20px;
    line-height: 20px;
  }

  .hero__button {
    font-size: 20px;
    line-height: 26px;
  }
}
