.hero {
  margin-bottom: 20px;
}

.hero__wraper {
  padding-bottom: 135px;
  position: relative;
  margin-bottom: 3px;
}

.hero__wraper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 270px;
  background: url("../../images/index-hero-mobile@1x.png") no-repeat center;
  left: 0;
  bottom: 0;
}

.hero__container {
  padding: 27px 35px 164px;
  background-color: rgba(104, 183, 56, 0.85);
  position: relative;
}

.hero__container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #4c4b50 url("../../images/index-background-mobile@1x.jpeg") no-repeat center 0;
  background-size: contain;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  max-width: 300px;
  font-family: $primary-font;
  color: $primary-light-color;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.hero__description {
  margin: 0 10px;
  padding: 0;
  font-family: $primary-font;
  color: $primary-light-color;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.hero__button {
  margin: 0 20px;
}

@media (min-width: $tablet) {
  .hero {
    margin: 0;
  }

  .hero__wraper {
    padding: 0;
  }

  .hero__wraper::after {
    display: none;
  }

  .hero__container {
    padding: 0;
    background: none;
    position: relative;
  }

  .hero__container::after {
    display: none;
  }

  .hero__title {
    margin: 0 0 40px 120px;
    font-size: 60px;
    line-height: 60px;
    max-width: 500px;
    color: $primary-dark-color;
    text-align: left;
  }

  .hero__description {
    margin: 0 0 50px 120px;
    font-size: 20px;
    line-height: 20px;
    color: $primary-dark-color;
    text-align: left;
  }

  .hero__button-wraper {
    position: relative;
    padding-bottom: 526px;
  }

  .hero__button {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    height: 54px;
    margin: 0 120px;
    box-sizing: border-box;
    padding-top: 13px;
  }

  .hero__button-wraper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 609px;
    background: url("../../images/index-hero-tablet@1x.png") no-repeat center;
    left: 0;
    top: -30px;
    z-index: -1;
  }
}

@media (min-width: $desktop) {
  .hero {
    margin-bottom: 82px;
  }

  .hero::before {
    content: "";
    height: 694px;
    width: 720px;
    background-color: rgba(104, 183, 56, 0.85);
    position: absolute;
    left: 720px;
    top: 0;
    z-index: -5;
  }

  .hero::after {
    content: "";
    display: block;
    position: absolute;
    height: 694px;
    width: 720px;
    background: url("../../images/index-background-desktop@1x.jpeg") no-repeat 0 0;
    background-size: cover;
    top: 0;
    left: 720px;
    z-index: -10;
  }

  .hero__title {
    margin: 0 800px 40px 190px;
  }

  .hero__description {
    margin: 0 800px 52px 190px;
  }

  .hero__button-wraper {
    padding-bottom: 184px;
  }

  .hero__button {
    margin: 0 190px;
  }

  .hero__button-wraper::after {
    height: 499px;
    background: url("../../images/index-hero-desktop@1x.png") no-repeat center;
    left: auto;
    right: -113px;
    top: -313px;
  }
}
