.links {

}

.links__logo {
  display: block;
  width: 128px;
  height: 24px;
  mask-image: url("../../icons/stack.svg#logo-cat-energy");
  background-color: #111111;
}

.links__logo:hover {
  background-color: #3e3e3e;
}

.links__logo:focus {
  background-color: #3e3e3e;
}

.links__logo:active {
  background-color: #6b6b6b;
}

.links__social {

}

.links__academy {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  position: relative;
}

.links__academy::after {
  content: "";
  display: block;
  position: absolute;
  width: 27px;
  height: 34px;
  mask-image: url("../../icons/stack.svg#logo-academy");
  background-color: #666666;
  top: 0;
  right: -50px;
}

.links__academy:hover::after {
  background-color: #68b738;
}

.links__academy:focus {
  outline: none;
}

.links__academy:focus::after {
  background-color: #68b738;
}

.links__academy:active {
  opacity: 0.3;
  color: #444444;
}

.links__academy:active::after {
  background-color: #68b738;
}
