.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item {

}

.main-menu__link {
  font-family: $primary-font;
  color: $primary-dark-color;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu__link--current {

}

@media (min-width: $tablet) {
  .main-menu__link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop) {
  .main-menu__link {
    color: $primary-light-color;
    font-size: 20px;
    line-height: 30px;
  }
}

