.map {
}

.map__google {
  height: 362px;
}

.map__google iframe {
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet) {
  .map__google {
    height: 400px;
  }

  .map__google iframe {
    width: 100%;
    height: 400px;
  }
}
