.page {
  background-color: #7ab356dc;
}

.page__body {
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-color;
}

@media (min-width: 768px) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }
}

