.points {

}

.points__list {

}

.points__name {
  font-family: $primary-font;
  color: $primary-dark-color;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.points__name--secondary-style {
  font-family: $primary-font;
  color: $primary-dark-color;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.points__description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
}

.points__description--secondary-style {
  margin: 0;
  font-family: $primary-font;
  color: $primary-dark-color;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .points__name {
    font-size: 30px;
    line-height: 37px;
  }

  .points__description {
    font-size: 14px;
    line-height: 14px;
  }

  .points__name--secondary-style {
    font-size: 20px;
  }

  .points__description--secondary-style {
    font-size: 20px;
  }
}
