.services {
  margin: 0 20px;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {

}

@media (min-width: $tablet) {
  .services {
    margin: 0 30px 46px;
  }
}

@media (min-width: $desktop) {
  .services {
    margin: 0 110px;
  }

  .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
