.service-item {

}

.service-item__title {
  margin: 0;
  padding-left: 90px;
  font-family: $primary-font;
  font-size: 24px;
  line-height: 37px;
  color: $primary-dark-color;
  text-transform: uppercase;
  position: relative;
}

.service-item__title--slim::before {
  content: "";
  width: 50px;
  height: 53px;
  background: url("../../icons/stack.svg#cat-back-1") no-repeat center;
  position: absolute;
  left: 20;
  top: -9;
}

.service-item__title--pro::before {
  content: "";
  width: 67px;
  height: 50px;
  background: url("../../icons/stack.svg#cat-back-2") no-repeat center;
  position: absolute;
  left: 13px;
  top: -6;
}

.service-item__description {
  margin: 0;
}

.service-item__link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $primary-dark-color;
  text-transform: uppercase;
  position: relative;
}

.service-item__link::after {
  content: "";
  width: 39px;
  height: 12px;
  background: url("../../icons/stack.svg#icon-arrow") no-repeat center;
  position: absolute;
  right: -50px;
  top: 10px;
}

@media (min-width: $tablet) {
  .service-item__title {
    font-size: 36px;
    line-height: 36px;
  }

  .service-item__link {
    font-size: 20px;
    line-height: 30px;
  }
}
