.service-item {

}

.service-item__title {
  margin: 0;
  font-family: $primary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.service-item__description {
  margin: 0;
}

.service-item__link {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $primary-dark-color;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .service-item__title {
    font-size: 36px;
    line-height: 36px;
  }

  .service-item__link {
    font-size: 20px;
    line-height: 30px;
  }
}
